doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About
  link(rel='stylesheet' href='../css/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='../css/about.css')
  //- link(rel='stylesheet' href='../css/rating.css')
nav
  i.fa-solid.fa-stethoscope
  ul
    li 
      a(href='/') Home
    li Service
    li 
      a(href='/contact') Contact
    li 
      a(href='/about') About
  .credentials
    button.btnSignup
      a(href='/') Logout
.dev
  .darshan.box
    img(src='../img/darshan.jpg' alt='')
    br
    .devname Darshan Jagani
    br
    .socialc
      a(href='https://wa.me/+917041667965' target='_blank')
        i.fa-brands.fa-whatsapp
      a(href='https://instagram.com/mr_darshan_jagani?igshid=MzRIODBiNWFIZA==' target='_blank')
        i.fa-brands.fa-instagram
      a(href='https://instagram.com/nilesh_k1107?igshid=MzRIODBiNWFIZA==' target='_blank')
        i.fa-brands.fa-linkedin
      br
    
    p
      | Hi, I&rsquo;m Darshan.
      | iI&rsquo;ve been working as a web developer for a few years now, and I&rsquo;m passionate about everything that goes
      | into making websites work well and look beautiful.
      br
      br
    a.devcontact(href='tel:+917041667965' target='_blank') CONTACT
    br
    br
  .vraj.box
    img(src='../img/vraj.jpg' alt='')
    br
    .devname Vraj Kathiriya
    br
    .socialc
      a(href='https://wa.me/+919313458529' target='_blank')
        i.fa-brands.fa-whatsapp
      a(href='https://instagram.com/k_.vraj._321?igshid=MzRIODBiNWFIZA==' target='_blank')
        i.fa-brands.fa-instagram
      a(href='https://instagram.com/nilesh_k1107?igshid=MzRIODBiNWFIZA==' target='_blank')
        i.fa-brands.fa-linkedin
      br
    p
      | Hello, I&rsquo;m Vraj Kathiriya, a web developer.
      | I&rsquo;ve been working as a web developer for a few years now, and I&rsquo;m passionate about everything that goes
      | into making websites work well and look beautiful.
      br
      br
    a.devcontact(href='tel:+919313458529' target='_blank') CONTACT
    br
    br
  .nilesh.box
    img(src='../img/nilesh.jpg' alt='')
    br
    .devname(href='!') Nilesh Korat
    br
    .socialc
      a(href='https://wa.me/+916354382252' target='_blank')
        i.fa-brands.fa-whatsapp
      a(href='https://instagram.com/nilesh_k1107?igshid=MzRIODBiNWFIZA==' target='_blank')
        i.fa-brands.fa-instagram
      a(href='https://instagram.com/nilesh_k1107?igshid=MzRIODBiNWFIZA==' target='_blank')
        i.fa-brands.fa-linkedin
      br
    p
      | Hello! I am a web developer.!
      | I&rsquo;ve been working as a web developer for a few years now, and I&rsquo;m passionate about everything that goes
      | into making websites work well and look beautiful.
    br
    a.devcontact(href='tel:+916354382252' target='_blank') CONTACT
    br
    br
  .raj.box
    img(src='../img/raj.jpeg' alt='')
    br
    .devname(href='!') Raj Khunt
    br
    .socialc
      a(href='https://wa.me/+917096448113' target='_blank')
        i.fa-brands.fa-whatsapp
      a(href='https://instagram.com/mr.__ra___111?igshid=MzRIODBiNWFIZA==' target='_blank')
        i.fa-brands.fa-instagram
      a(href='https://instagram.com/nilesh_k1107?igshid=MzRIODBiNWFIZA==' target='_blank')
        i.fa-brands.fa-linkedin
      br
    
    p
      | Hello, I&rsquo;m Raj Khunt , a web developer.
      | I&rsquo;ve been working as a web developer for a few years now, and I&rsquo;m passionate about everything that goes
      | into making websites work well and look beautiful.
    br
    a.devcontact(href='tel:+917096448113' target='_blank') CONTACT
    br
    br

//- script(src='https://kit.fontawesome.com/041d64f38e.js' crossorigin='anonymous')
