
doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title login
    link(rel='stylesheet' href='./CSS/style.css' type='text/css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous' referrerpolicy='no-referrer')
  nav
    i.fa-solid.fa-stethoscope
    ul
      li 
        a(href='/') Home
      li Service
      li 
        a(href='/contact') Contact
      li 
        a(href='/about') About
    .credentials
      button.btnSignup
        a(href='/login') LOGIN
  .main
    .login
      h3 Login Here
      label(for='') user id
      .username
        i.fa-solid.fa-user
        input#id(type='text' placeholder='enter your user id')
      label(for='') password
      .password
        i.fa-solid.fa-lock
        input#pwd(type='password' name='pass' placeholder='enter your password')
      select#role(name='role')
        option(value='role') Select your role
        option(value='Doctor') Doctor
        option(value='Staff') Staff
        option(value='Patient') Patient
      button.loginBtn
        span Login
        //- a(href='/getAllPatients') 
          span Login
    form#temp.hidden(action='/getPatient/30' name="temp")
      input#ROLE(type='text' name='ROLE' value='patient')  
  script(src='./JS/login.js')

